
@{
    //Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar-->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 551px;">
        <section class="sidebar">

            <!-- sidebar menu-->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="user-profile treeview">
                    <a href="index.html">
                        <img src="/images/avatar/7.jpg" alt="user">
                        <span>
                            <span class="d-block font-weight-600 font-size-16">Samuel Brus</span>
                            <span class="email-id">samuel@gmail.com</span>
                        </span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    @*<ul class="treeview-menu">
                            <li><a href="javascript:void()"><i class="fa fa-user mr-5"></i>My Profile </a></li>
                            <li><a href="javascript:void()"><i class="fa fa-money mr-5"></i>My Balance</a></li>
                            <li><a href="javascript:void()"><i class="fa fa-envelope-open mr-5"></i>Inbox</a></li>
                            <li><a href="javascript:void()"><i class="fa fa-cog mr-5"></i>Account Setting</a></li>
                            <li><a href="javascript:void()"><i class="fa fa-power-off mr-5"></i>Logout</a></li>
                        </ul>*@
                </li>
                <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>PERSONAL</li>


                <li>
                    <a href="/admin/product">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>کالاها</span>

                    </a>

                </li>

                <li >
                    <a href="/admin/users">
                        <i class="mdi mdi-content-copy"></i>
                        <span>کاربران</span>

                    </a>

                </li>

                <li >
                    <a href="/admin/Orders">
                        <i class="mdi mdi-tune-vertical"></i>
                        <span>سفارش‌ها </span>

                    </a>
                    @*<ul class="treeview-menu">
                            <li><a href="pages/page_layout_inner_left_sidebar.html"><i class="mdi mdi-toggle-switch-off"></i>Inner Left Sidebar </a></li>
                            <li><a href="pages/page_layout_inner_right_sidebar.html"><i class="mdi mdi-toggle-switch-off"></i>Inner Right Sidebar </a></li>
                            <li><a href="pages/page_layout_inner_fixed_left_sidebar.html"><i class="mdi mdi-toggle-switch-off"></i>Inner Fixed Left Sidebar </a></li>
                            <li><a href="pages/page_layout_inner_fixed_right_sidebar.html"><i class="mdi mdi-toggle-switch-off"></i>Inner Fixed Right Sidebar </a></li>
                        </ul>*@
                </li>


                <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>APPS</li>

                <li class="treeview">
                    <a href="#">
                        <i class="mdi mdi-mailbox"></i> <span>Mailbox</span>

                    </a>

                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="mdi mdi-contacts"></i>
                        <span>Contact</span>
                        @*<span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>*@
                    </a>
                    @*<ul class="treeview-menu">
                            <li><a href="pages/contact_app_chat.html"><i class="mdi mdi-toggle-switch-off"></i>Chat app</a></li>
                            <li><a href="pages/contact_app.html"><i class="mdi mdi-toggle-switch-off"></i>Contact / Employee</a></li>
                            <li><a href="pages/contact_userlist_grid.html"><i class="mdi mdi-toggle-switch-off"></i>Userlist Grid</a></li>
                            <li><a href="pages/contact_userlist.html"><i class="mdi mdi-toggle-switch-off"></i>Userlist</a></li>
                        </ul>*@
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="mdi mdi-apps"></i>
                        <span>Extra</span>
                        @*<span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>*@
                    </a>
                    @*<ul class="treeview-menu">
                            <li><a href="pages/extra_app_ticket.html"><i class="mdi mdi-toggle-switch-off"></i>Support Ticket</a></li>
                            <li><a href="pages/extra_calendar.html"><i class="mdi mdi-toggle-switch-off"></i>Calendar</a></li>
                            <li><a href="pages/extra_profile.html"><i class="mdi mdi-toggle-switch-off"></i>Profile</a></li>
                            <li><a href="pages/extra_taskboard.html"><i class="mdi mdi-toggle-switch-off"></i>Project DashBoard</a></li>
                        </ul>*@
                </li>


                <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>UI</li>


                <li class="treeview">
                    <a href="#">
                        <i class="mdi mdi-widgets"></i>
                        <span>UI Elements</span>
                        @*<span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>*@
                    </a>
                    @*<ul class="treeview-menu">
                            <li><a href="pages/ui_badges.html"><i class="mdi mdi-toggle-switch-off"></i>Badges</a></li>
                            <li><a href="pages/ui_border_utilities.html"><i class="mdi mdi-toggle-switch-off"></i>Border</a></li>
                            <li><a href="pages/ui_buttons.html"><i class="mdi mdi-toggle-switch-off"></i>Buttons</a></li>
                            <li><a href="pages/ui_color_utilities.html"><i class="mdi mdi-toggle-switch-off"></i>Color</a></li>
                            <li><a href="pages/ui_dropdown.html"><i class="mdi mdi-toggle-switch-off"></i>Dropdown</a></li>
                            <li><a href="pages/ui_dropdown_grid.html"><i class="mdi mdi-toggle-switch-off"></i>Dropdown Grid</a></li>
                            <li><a href="pages/ui_typography.html"><i class="mdi mdi-toggle-switch-off"></i>Typography</a></li>
                            <li><a href="pages/ui_progress_bars.html"><i class="mdi mdi-toggle-switch-off"></i>Progress Bars</a></li>
                            <li><a href="pages/ui_grid.html"><i class="mdi mdi-toggle-switch-off"></i>Grid</a></li>
                            <li><a href="pages/ui_ribbons.html"><i class="mdi mdi-toggle-switch-off"></i>Ribbons</a></li>
                            <li><a href="pages/ui_sliders.html"><i class="mdi mdi-toggle-switch-off"></i>Sliders</a></li>
                            <li><a href="pages/ui_tab.html"><i class="mdi mdi-toggle-switch-off"></i>Tabs</a></li>
                            <li><a href="pages/ui_timeline.html"><i class="mdi mdi-toggle-switch-off"></i>Timeline</a></li>
                            <li><a href="pages/ui_timeline_horizontal.html"><i class="mdi mdi-toggle-switch-off"></i>Horizontal Timeline</a></li>
                        </ul>*@
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="mdi mdi-chemical-weapon"></i>
                        <span>Icons</span>
                        @*<span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>*@
                    </a>
                    @*<ul class="treeview-menu">
                            <li><a href="pages/icons_fontawesome.html"><i class="mdi mdi-toggle-switch-off"></i>Font Awesome</a></li>
                            <li><a href="pages/icons_glyphicons.html"><i class="mdi mdi-toggle-switch-off"></i>Glyphicons</a></li>
                            <li><a href="pages/icons_material.html"><i class="mdi mdi-toggle-switch-off"></i>Material Icons</a></li>
                            <li><a href="pages/icons_themify.html"><i class="mdi mdi-toggle-switch-off"></i>Themify Icons</a></li>
                            <li><a href="pages/icons_simpleline.html"><i class="mdi mdi-toggle-switch-off"></i>Simple Line Icons</a></li>
                            <li><a href="pages/icons_cryptocoins.html"><i class="mdi mdi-toggle-switch-off"></i>Cryptocoins Icons</a></li>
                        </ul>*@
                </li>





                <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>EXTRA</li>

                <li class="treeview">
                    <a href="#">
                        <i class="mdi mdi-notification-clear-all"></i>
                        <span>Multilevel</span>

                    </a>

                </li>

                <li>
                    <a href="pages/auth_login.html">
                        <i class="mdi mdi-directions"></i>
                        <span>Log Out</span>
                    </a>
                </li>

            </ul>
        </section>
    </div>
   
</aside>
