<!DOCTYPE html>
<html lang="fa">
<head>

    <partial name="MetaTag" />
    <partial name="Stylesheet" />

</head>


<body class="index-page sidebar-collapse">
    <partial name="Header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
    <partial name="Footer" />
    <div class="container">
        &copy; 2021 - JShope - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

   



</body>

<partial name="Script" />
</html>
